.post-feed {
    margin: -5px;
    opacity: 0;
    transition: opacity 0.3s var(--animation-base);
}

.post-feed.initialized {
    opacity: 1;
}

.post-feed .grid-item {
    width: calc(100% / 2);
}

.post-feed .post {
    position: relative;
    margin: 5px;
}

.post-feed .post-link {
    background: linear-gradient(var(--white-color), var(--light-gray-color));
}

.post-feed .post-image {
    width: 100%;
    mix-blend-mode: multiply;
}

.post-link:hover + .post-image,
.post-image:hover {
    mix-blend-mode: normal;
}
